@import "~bootstrap/scss/bootstrap-grid";

.card_none {
  cursor: pointer;
  border-style: solid;
  border-color: #127de7b9;
  border-radius: 8mm;
  height: 190px;
  width: 190px;
}
.scroll-height {
  overflow: scroll;
  overflow-x: hidden; 
  height: 300px;
}
.card-main {
  box-shadow: 4px 5px rgba(23, 24, 24, 0.253);
  border-color: #00000000;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
