.App {
  text-align: center;
  background-image: url("https://st2.depositphotos.com/1605581/8381/i/600/depositphotos_83819542-stock-photo-blue-gradient-background-abstract-illustration.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}



