@import "~bootstrap/scss/bootstrap-grid";

.nav-link {
    font-size: 10px;
    color: black;
    box-shadow: 4px 0px rgba(23, 24, 24, 0.253);
    margin-left: 6px;
    border-style: solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #00000000;
    padding: 8px 9px;
    cursor: pointer;
  }
  